div.app-search-results-container {
    padding: 0 20px 20px;
}

.app-search-title {
    font-size: 22px;
    padding: 15px 0;
}

@media screen and (max-width: 600px) {
    :host .app-col-display-name {
        min-width: 100px;
    }

    :host .app-col-modified-at,
    :host .app-col-modified-by {
        display: none;
    }

    :host div.app-search-results-container table {
        width: 100%;
    }
}

.app-search-results-content {
    display: flex;
}

.app-search-extended-input-containers {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.app-search-extended-input-textarea {
    width: 300px;
}

.app-search-extended-label-error {
    display: flex;
    flex-direction: column;
}

.app-example-card {
    width: 200px;
    flex: 0 20%;
    margin: 15px;
}

.app-example-card-search-container {
    display: flex;
    flex-wrap: wrap;
}

.example-header-image {
    background-size: cover;
    margin-bottom: 15px;
}

.example-search-input {
    width: 100px;
    border: 1px solid black;
}

.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 250%;
}

.myLabelStyle {
    text-align: center;
    font-size: 14px;
    color: gray;
}

.mat-row:nth-child(even) {
    background-color: #FFFFFF;
}

.mat-row:nth-child(odd) {
    background-color: #F6F6F6;
}

.loader-container {
    z-index: 9999;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.app-search-extended-input-containers-normal {
    justify-content: space-evenly;
}

.button-right {
    display: flex;
    align-items: right;
    justify-content: right;
    padding-right: 15px;
}

.search-results {
    font-size: 14px;
    font-family: "Helvetica Neue LT Pro\ 55 Roman", Helvetica, sans-serif;
    overflow-x: hidden;
}

.reco-results-label {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    font-family: "Muli", "Roboto", "Helvetica Neue", sans-serif;
}

.reco-results {
    margin-left: 0px;
    // border: 1px solid gray;
    // max-width: 112em;
    max-width: 95vw;

    border-radius: 10px;
    border: 2px solid #2196f3;
    // padding: 20px; 
    // width: 200px;
    // height: 150px; 
}

.rcorners {
    border-radius: 10px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }

/////////

// .bg-yellow {
//     background-color: yellow;
// }

// .transition {
//     transition: background 0.50s ease, color 0.25s ease;
// }

// .active-slide {
//     background-color: green;
//     color: #fff;
// }

// .bg-blue {
//     background-color: blue;
//     color: #fff;
// }


// CSS for Spinner - START

.cssload-container {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
  }
  
  .cssload-speeding-wheel {
    content: "";
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 63px;
    height: 63px;
    margin: 0 auto;
    border: 4px solid rgb(33, 150, 243);
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 500ms infinite linear;
    -o-animation: cssload-spin 500ms infinite linear;
    -ms-animation: cssload-spin 500ms infinite linear;
    -webkit-animation: cssload-spin 500ms infinite linear;
    -moz-animation: cssload-spin 500ms infinite linear;
  }
  
  @keyframes cssload-spin {
    100% {
      transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-o-keyframes cssload-spin {
    100% {
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-ms-keyframes cssload-spin {
    100% {
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes cssload-spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-moz-keyframes cssload-spin {
    100% {
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

// CSS for Spinner - END
