<div id="container-for-custom-input" class="app-search-extended-input-containers-normal"
    style="max-width:100vw; display: inline-block">
    <mat-form-field appearance="outline" style="width:60em; padding-left:50px; padding-top:15px">
        <!-- <label class="myLabelStyle">Search for content using AWS Kendra</label> -->
        <mat-label>Search for content using AWS Kendra</mat-label>
        <!-- <input type="text" matInput id="custom-input" [(ngModel)]="searchedWord" [searchAutocomplete]="auto"> -->
        <input type="text" matInput id="custom-input" (keydown.enter)="fetchData()" [(ngModel)]="queryText" />
        <mat-icon matSuffix>search</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="outline" style="position:relative; width:30em; padding-top:15px">
        <mat-label>Data Sources</mat-label>
        <mat-select #selectedDataSource [formControl]="dataSources" multiple>
            <!-- <mat-select-trigger>
                <span> {{dataSource.Type}} </span>
            </mat-select-trigger> -->
            <mat-option *ngFor="let dataSource of dataSourceList" [value]="dataSource">
                <img width="40" height="40" [src]="dataSource['logoURL']"/>
                 {{dataSource['Type']}} - {{dataSource['Name']}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<!-- <mat-slide-toggle>Slide me!</mat-slide-toggle> -->
<!-- <mat-spinner style="margin:auto auto;"></mat-spinner> -->
<div *ngIf="showSpinner" id="loader-container" class="cssload-container">
    <div class="cssload-speeding-wheel"></div>
</div>


<div class="search-results">

    

    <mat-toolbar *ngIf="recommendedDataSource && recommendedDataSource.data.length === 0">No records found</mat-toolbar>

    <!-- <mat-expansion-panel *ngIf="recRows && recRows.length > 0"> -->
    <!-- <mat-expansion-panel-header style="height:200px"> -->
    <div class="reco-results-label" *ngIf="recRows && recRows.length > 0">AWS Kendra Recommended Results</div>
    <div class="reco-results" *ngIf="recRows && recRows.length > 0">
        <swiper [loop]="recRows && (recRows.length > 1)" [autoHeight]="false" [allowTouchMove]="false"
            [autoplay]="{ delay: 3000, disableOnInteraction: false }" [navigation]="false">
            <ng-template *ngFor="let record of recRows" data-swiper-autoplay="1000" class="swiper-slide" swiperSlide>

                <table>
                    <tr>
                        <td width="12%">
                            <div style="border:0px solid lightblue;">
                                <img width="150px" height="150px" src="{{record.sourceLogoURL}}" />
                            </div>
                        </td>
                        <td>
                            <div class="search-results">
                                <br />
                                <b>Title : <a style="color:GREEN" href="{{record.documentURI}}"
                                        target="blank">{{record.documentTitle}}</a></b><br />
                                <b>Confidence :</b> {{record.scoreConfidence}} <br />
                                <b>Excerpt :</b>
                                <div [innerHTML]="record.documentExcerptHTMLString | sanitizedHtml"></div><br />
                                <br />
                            </div>
                        </td>
                    </tr>
                </table>

            </ng-template>
        </swiper>
    </div>
    <!-- </mat-expansion-panel-header> -->
    <!-- </mat-expansion-panel> -->




    <br />
    <div class="button-right">
        <button mat-raised-button color="primary" *ngIf="showMoreResultsButton" (click)="displayMoreResults()">Display
            More
            Results</button>
    </div>

    <br />

    <mat-table *ngIf="hasSearchResults && showMoreResults" #table [dataSource]="dataSource" matSort
        class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>More Search Results </mat-header-cell>
            <mat-cell *matCellDef="let record">
                <table>
                    <tr>
                        <td width="12%">
                            <div style="border:0px solid lightblue">
                                <img width="150px" height="150px" src="{{record.sourceLogoURL}}" />
                                <div style="display: flex; justify-content: center"><adf-like
                                        [nodeId]="record.id"></adf-like></div>
                            </div>

                        </td>
                        <td>
                            <div class="search-results">
                                <br />
                                <b>Title : <a style="color:GREEN" href="{{record.documentURI}}" target="blank">
                                        {{record.documentTitle}}</a></b><br />
                                <!-- <b>ID :</b> {{record.id}} <br /> -->
                                <!-- <b>Type :</b> {{record.type}} <br /> -->
                                <!-- <b>Format :</b> {{record.format}} <br /> -->
                                <!-- <b>Source :</b> {{record.sourceRepo}} <br /> -->
                                <!-- <b>URL : </b> <a href="{{record.documentURI}}" target="blank">{{record.documentURI}}</a> -->
                                <!-- <br /> -->
                                <b>Confidence :</b> {{record.scoreConfidence}} <br />
                                <!-- <b>Page Count :</b> {{record.pageCount}} <br /> -->
                                <b>Excerpt :</b>
                                <div [innerHTML]="record.documentExcerptHTMLString | sanitizedHtml"></div><br />
                                <br />
                            </div>
                        </td>
                    </tr>
                </table>
            </mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"></mat-row>
    </mat-table>
</div>