<form>

    <p>
        <label>Policy Number:<input type="text" /></label>
    </p>

    <p>
        <label>Submission ID: <input type="text" /></label>
    </p>

    <p>
        <label>Primary Insured Name: <input type="text" /></label>
    </p>

    <p>
        <label>Policy Type: <input type="text" /></label>
    </p>

    <p>
        <label>Line of Business <input type="text" /></label>
    </p>

    <p>
        <label>Expiration Period: <input type="text" /></label>
    </p>

    <p>
        <button type="submit">Submit</button>
    </p>

</form>
