<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="actionsstacked">
                <h4>Actions</h4>
                <button>Accept Claim</button>
                <br>
                <br>
                <button>Reject Claim</button>
                <br>
                <br>
                <button>Analyze Documents</button>
                <br>
                <br>
                <button>View Policy</button>
                <br>
                <br>
                <button>View Claim</button>
                <br>
                <br>
                <button>Send Email</button>
                <br>
                <br>
                <button>Send for Fraud Detection</button>
            </div>
        </div>
    </div>
</div>
